* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.add-button {
  display: flex;
  justify-content: end;
  width: 100vw;
  padding-right: 4rem;
  margin-top: 3rem;
}

.bi-plus-lg {
  color: #fefefe;
  font-size: 1.9rem;
}
body {
  background-color: #fff;
}

.add {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  border: none;
  background-color: #ff3d3f;
}
/* main {
  display: flex;
  flex-direction: column;s
  justify-content: center;
  align-items: center;
} */

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  /* display: none; */
  /* display: flex; */
  /* flex-direction: column; */
  width: 40vw;
  border: 1px solid #d24110;
  border-radius: 6px;
  height: 60vh;
}

@media (min-height: 680px) {
  .modal {
    height: 50vh;
    min-height: 50vh;
  }
}
@media (min-height: 900px) {
  .modal {
    height: 40vh;
    min-height: 40vh;
  }
}

@media (min-height: 1100px) {
  .modal {
    height: 30vh;
    min-height: 30vh;
  }
}
@media (max-width: 768px) {
  .modal {
    width: 90vw;
    max-width: 85vw;
  }
}

@media (max-width: 450px) {
  .modal {
    width: 100vw;
    max-width: 100vw;
  }
}

@media (max-height: 580px) {
  .modal {
    height: 80vh;
    max-height: 75vh;
  }
}

@media (max-height: 450px) {
  .modal {
    height: 90vh;
    max-height: 90vh;
  }
}

/* @media (max-width: 1100px) {
  .tasks {
    grid-template-columns: repeat(3, 1fr);
  }
} */

.bi-x-lg {
  color: crimson;
  font-size: large;
}

.display-modal,
.popup-Modal {
  display: flex;
  flex-direction: column;
}

.close {
  border: none;
  /* border: 1px solid black; */
  /* border-radius: 3px; */
  /* margin-top: 2px;
  margin-right: 1px; */
  align-self: flex-end;
  width: 1.5rem;
  margin-bottom: 1rem;
  margin: 0;
  background-color: #fefefe;
  /* color: ; */
  transform: translate(1%, 3%);
}

.close:hover {
  background-color: #ff3d3f;
  transform: translate(4%, -8%);
}

.close:hover .bi-x-lg {
  color: #fefefe;
}

.close:active {
  background-color: #a40b0d;
}

body {
  overflow-x: hidden;
  background-color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  /* border: 1px solid black; */
  width: 100%;
  gap: 2rem;
  padding: 1rem;
}

.title {
  margin-top: 3px;
  gap: 1rem;
  display: flex;
}

.title input[type="text"] {
  flex: 1;
  margin-right: 2px;
  margin-left: 3rem;
  outline: none;
  text-indent: 3px;
}

h4 {
  font-style: normal;
  font-weight: normal;
}

.description {
  display: flex;
}

.description textarea {
  padding-top: 2px;
  margin-left: 1.2rem;
  flex: 1;
  margin-right: 2px;
  height: 3rem;
  cursor: text;
  outline: none;
  text-indent: 3px;
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.date {
  display: flex;
  gap: 4rem;
}

.save {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}
.save-button {
  border: 1px solid black;
  width: 4rem;
  height: 2rem;

  align-self: center;
}

.tiles {
  border: 0.001px solid #fccea3;
  color: #ff3d3f;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fff;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
}
.tasks {
  margin-left: 10rem;
  margin-right: 8rem;
}

.heading {
  margin-left: 11rem;
  margin-bottom: 4rem;
  color: #ff3d3f;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  /* display: none; */
  /* display: flex; */
  /* flex-direction: column; */
  width: 40vw;
  border: 1px solid #d24110;
  border-radius: 6px;
  height: max-content;
  padding-bottom: 1rem;

  padding-left: 1rem;
}
.popup-title {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ff3d3f;
}

.close-popup {
  border-radius: 3px;
  /* margin-top: 2px;
  margin-right: 1px; */
  align-self: flex-end;
  width: 1.5rem;
  margin: 0;
  border: #fefefe;
  background-color: #fefefe;
  color: #fefefe;
  transform: translate(-10%, 0%);
}
.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popup-date,
.popup-time,
.popup-description {
  color: #ff3d3f;
}

.bi-trash3 {
  border-radius: 4px;
  /* margin-top: 2px;
  margin-right: 1px; */
  align-self: flex-end;
  width: 3.8rem;
  margin-bottom: 1rem;
  margin: 0;
  background-color: #fff;
  color: crimson;
  transform: translate(2%, -5%);
}

.bi-trash3:hover {
  color: #fff;
  background-color: crimson;
}
